@{
    Layout = null;
    var seriestTitle = "The Amazing Spider-Man";
    var issuerNumber = 700;
    var description = "<p>Final issue Witness <h2>the final hour</h2></p>";
    var artists = new string[] {
"Script: Dan Slott",
"Pencils: Humberto Ramos",
"Inks: Victor Olazaba",
"Colors: Edgar Delgado",
"Letters: Chris Eliopoulos"
};

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@seriestTitle</h1>
        <h2>号码 #@issuerNumber</h2>
        <h5>介绍</h5>
        <div>@Html.Raw(description)</div>
        <h5>作者：</h5>
        <div>@artists</div>
    </div>
</body>
</html>