@model ComicBookGallery2.Models.ComicBook
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@Model.SeriesTitle</h1>
        <h2>号码 #@Model.IssueNumber</h2>

        <h5>介绍：</h5>
        <div>@Html.Raw(Model.DescriptionHtml)</div>
        @if (Model.Artists.Length > 0)
        {
            <h5>作者：</h5>
            <div>
                <ul>
                    @foreach (var artist in Model.Artists)
                    {

                        <li>
                            @artist.Role: @artist.Name
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</body>
</html>